BOT_TOKEN=
CAPTCHA_API_TOKEN=
CAPTCHA_API_URL=

LOG_LEVEL=INFO
HISTORY_LOOKBACK_SECONDS=300
CAPTCHA_MAX_RETRIES=2
CAPTCHA_REQUEST_TIMEOUT=8.0

CHANNELS_COUNT=1
CHANNEL_1_ID=
CHANNEL_1_MESSAGE=corpses\nbrown
# CHANNEL_1_MESSAGE=["Corpses\nТест", "Corpses\nТест2"]
# CHANNEL_1_MESSAGES=msg1||msg2